ul {
	margin: 0px;
	padding: 0px;
}

ul.breadcrumb {
	margin: 0px;
    list-style: none;
}

ul.breadcrumb li {
	margin: 0px;
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    text-decoration: none;
}

#columns { 
	width: 1500px;
}

#detail_left_panel { 
	float: left; 
	width: 125px;  
}

#detail_center_panel { 
	float: left;  
	width: 515px;  
}

#detail_right_panel{ 
	float: left;
	width: 500px;
	margin-left: 30px;
}

#columns div.clear { 
	clear: both; 
}

.nav_link{
	font-size: 14px;
}

.product_detail_thumbnail{
	max-width: 125px; 
    max-height: 125px;
    height: 100%;
    width: 100%;
	border:1px solid #6D6E71;
	margin-bottom: 15px;
}

#main_image{
    height: 100%;
    width: 100%;
	border: 1px solid #6D6E71;
	margin-left: 15px;
}

.color_swatch{
	width: 30px;
	height: 20px;
    border: none;
}

.size_option {
    width: 40px;
	height: 25px;
	border:1px solid #6D6E71;
	text-align: center;
	vertical-align: middle;
	line-height: 25px;       /* the same as your div height */
}


.active_color { 
    border: 2px solid black;
}

.active_size { 
    border: 2px solid black;
}

#cart_items {
  width: 20px;
  height: 20px;
  color:#fff;
  font-size:80%;
  background-color:#e74c3c;
  position:relative;
  left: 25px;
  top: -45px;
  border-radius:1000px;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  display: none;
}

#prev_next{
	padding-left: 500px;
}

h2{
	margin: 0px;
	margin-bottom: 10px;
}

h3{
	margin: 0px;
}

p{
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 14px;
}

#price{
	color: #B02C24;
}

#rating{
	padding-left: 10px;
}

#reviews_link{
	padding-left: 10px;
	color: #5F9E8F;
	text-decoration: underline;
}

div.add_button input {
    background:url("../images/buttons/add.png") no-repeat;
    cursor:pointer;
    width: 249px;
    height: 51px;
    border: none;
	margin-top: 30px;
	margin-bottom: 50px;
}

.info_links{
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}

#quantity{
	margin-top: 25px;
}

#qty{
	border:1px solid #6D6E71;
	width: 30px;
	height: 20px;
	text-align: center; 
}

#product_description{
	margin-left: 15px;
}