.photos {
    display: none;
}

.photo_container {
  margin: auto;
  position: relative;
  max-width: 1000px;
}

.main_photo {
    width: 100%;
    margin-top: 125px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}