
.App {
  width: 80%;
  margin: auto;
  font-family: 'Rubrik';
}

body{
    margin-top: 0px;
}
a {
	text-decoration: none; 
	color: black;
}

#header {
	width: 100%;
	height: 35px;
    margin: auto;
	background-color: #5f9e8f;
}

#header_links{
	float: right;
	width: 25%;
	padding-right: 20px;
	padding-top: 3px;
}

.header_icon{
	float: right; 
	width: 20px;
}

#main_content{
	width: 100%;
	margin: auto;
    padding-top: 15px;
}

#logo{
    width: 300px;
    height: auto;
}

#search{
	border: 1px solid #DDD;
	background-color: #D4CFCF;
}

#search_field{
	border: none;
	background-color: #D4CFCF;
}

#nav_bar{
	width: 80%;
	align: center;
	margin: auto;
	margin-bottom: 15px;
	table-layout: fixed;
}

#shopping_cart{
    margin-top: 22px;
}

#photo_container{
	width: 100%;
}

p{
	margin: 0px;
}

#cart_quantity {
  width: 20px;
  height: 20px;
  color:#fff;
  font-size:80%;
  background-color:#e74c3c;
  position:relative;
  left: 25px;
  top: -45px;
  border-radius:1000px;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  display: block;
}

.product_color_1 {
  background-color: #DD1F26; 
}

.product_color_2 {
  background-color: #F15A29;
}

.product_color_3 {
  background-color: #EAC71C;
}

.product_color_4 {
    background-color: #78866B;
}

.product_color_5 {
    background-color: #92278F;
}

.product_color_6 {
    background-color: #2D101D;
}